body {
    background-image: url(images/image.jpg);
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    color: white;
}

#increment-btn {
    border:2px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: lightgreen;
    font-weight: bold;
    width:200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#save-btn {
    border:2px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: lightgreen;
    font-weight: bold;
    width:200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#save-el {
    color:white;
}